#include "repbuild.h"

DLG_NEWREP DIALOG 6, 15, 162, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "New report"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 12, 96, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 98, 96, 50, 14
 GROUPBOX "Page size", IDC_GROUPBOX1, 10, 10, 139, 63, BS_GROUPBOX
 CONTROL "A4 portrait ( 210x297 )", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON, 15, 25, 85, 9
 CONTROL "A4 landscape ( 297x210 )", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON, 15, 39, 85, 10
}

DLG_FILE DIALOG 6, 15, 197, 142
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Sans Serif"
{
 GROUPBOX "", IDC_GROUPBOX4, 17, 10, 82, 34, BS_GROUPBOX
 CONTROL "Report file", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON, 23, 19, 60, 9
 CONTROL "Program source", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON, 23, 31, 60, 9
 EDITTEXT IDC_EDIT1, 13, 54, 149, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 PUSHBUTTON "Browse", IDC_BUTTONBRW, 162, 53, 25, 14
 EDITTEXT IDC_EDIT2, 39, 88, 47, 12
 LTEXT "Report name:", IDC_TEXT1, 17, 76, 60, 8
 DEFPUSHBUTTON "OK", IDOK, 12, 116, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 132, 116, 50, 14
}

DLG_STATIC DIALOG 7, 14, 232, 208
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Text"
FONT 8, "MS Sans Serif"
{
 LTEXT "Caption:", -1, 12, 8, 38, 8
 EDITTEXT IDC_EDIT1, 15, 22, 206, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 GROUPBOX "Alignment", IDC_GROUPBOX1, 15, 41, 48, 48, BS_GROUPBOX
 CONTROL "Left", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON, 19, 53, 28, 8
 CONTROL "Right", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON, 19, 65, 28, 8
 CONTROL "Center", IDC_RADIOBUTTON3, "BUTTON", BS_AUTORADIOBUTTON, 19, 77, 28, 8
 GROUPBOX "Font", IDC_GROUPBOX3, 82, 41, 70, 48, BS_GROUPBOX
 PUSHBUTTON "Change", IDC_PUSHBUTTON1, 89, 70, 41, 14
 LTEXT "", IDC_TEXT1, 88, 52, 60, 11
 EDITTEXT IDC_EDIT3, 16, 108, 206, 65, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_TABSTOP | WS_DLGFRAME
 LTEXT "Script:", -1, 16, 97, 28, 8
 COMBOBOX IDC_COMBOBOX3, 174, 54, 43, 33, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "Type:", -1, 172, 44, 24, 8
 DEFPUSHBUTTON "OK", IDOK, 14, 188, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 167, 188, 50, 14
}

DLG_LINE DIALOG 11, 21, 139, 108
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Line"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 12, 82, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 76, 82, 50, 14
 COMBOBOX IDC_COMBOBOX1, 11, 18, 49, 43, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "Line width:", -1, 9, 46, 39, 8
 EDITTEXT IDC_EDIT1, 46, 45, 12, 12
 LTEXT "Type:", -1, 9, 6, 32, 8
 COMBOBOX IDC_COMBOBOX2, 83, 45, 49, 33, CBS_DROPDOWNLIST | WS_TABSTOP
 LTEXT "Fill:", -1, 82, 35, 32, 8
}

DLG_BITMAP DIALOG 6, 15, 163, 147
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Bitmap"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 12, 123, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 97, 123, 50, 14
 EDITTEXT IDC_EDIT1, 8, 14, 122, 12
 PUSHBUTTON "Browse", IDC_BUTTONBRW, 130, 13, 27, 14
 GROUPBOX "Bitmap size", IDC_GROUPBOX3, 20, 33, 120, 71, BS_GROUPBOX
 LTEXT "Bitmap file:", -1, 15, 6, 41, 8
 LTEXT "0x0", IDC_TEXT1, 79, 45, 25, 8
 LTEXT "0x0", IDC_TEXT2, 78, 59, 26, 8
 RTEXT "Percentage of original %", -1, 25, 78, 76, 8
 EDITTEXT IDC_EDIT3, 106, 77, 25, 15
 LTEXT "Original size:", -1, 25, 45, 47, 8
 LTEXT "New size", -1, 25, 59, 45, 8
 LTEXT "pixels", -1, 110, 45, 25, 8
 LTEXT "pixels", -1, 110, 59, 25, 8
}

DLG_MARKL DIALOG 6, 15, 194, 115
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Start line"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 14, 89, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 126, 89, 50, 14
 LTEXT "", IDC_TEXT1, 10, 11, 50, 8
 EDITTEXT IDC_EDIT1, 12, 22, 170, 47, ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_TABSTOP | WS_DLGFRAME
}

DLG_MARKF DIALOG 6, 15, 134, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Marker"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 12, 96, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 72, 96, 50, 14
 GROUPBOX "Type of a footer position", IDC_GROUPBOX1, 16, 13, 93, 51, BS_GROUPBOX
 CONTROL "Fixed", IDC_RADIOBUTTON1, "BUTTON", BS_AUTORADIOBUTTON, 21, 28, 68, 12
 CONTROL "Dependent on list", IDC_RADIOBUTTON2, "BUTTON", BS_AUTORADIOBUTTON, 21, 46, 68, 12
}


AboutDlg DIALOG LOADONCALL FIXED DISCARDABLE 100, 63, 111, 96
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 9, "MS Shell Dlg"
{
 GROUPBOX "", -1, 14, 0, 84, 37, BS_GROUPBOX
 GROUPBOX "", -1, 20, 39, 75, 18, BS_GROUPBOX
 CTEXT "Visual report Builder", -1, 18, 16, 78, 8
 CTEXT "HWREPORT", 101, 30, 7, 52, 8
 CTEXT "version 1.1", -1, 25, 26, 66, 8
 CTEXT "Alexander Kresin, 2001", -1, 22, 45, 72, 7
 CONTROL "", IDC_OWNB1, "OWNBTN", 0 | WS_CHILD | WS_VISIBLE, 22, 66, 72, 20
}

ICON_1 ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 80 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 66 66'
 '66 66 66 66 66 66 66 66 66 66 66 66 66 66 66 66'
 '66 66 66 66 66 66 66 66 66 66 66 66 66 66 66 66'
 '67 76 77 76 66 66 66 66 66 62 F6 66 66 66 66 63'
 '36 66 66 66 66 66 66 66 66 66 66 66 67 66 66 66'
 '66 66 66 66 66 66 E0 06 66 66 66 26 6F 66 66 66'
 '66 66 E0 60 0E F0 00 0E 66 66 66 66 66 66 66 66'
 '66 66 00 EF E0 00 00 0E 66 66 66 66 66 66 66 66'
 '66 00 F0 F0 00 00 00 06 F6 66 66 66 66 66 66 66'
 '60 00 00 00 00 00 00 06 66 66 66 66 66 66 66 66'
 '00 00 00 00 00 00 00 04 66 66 66 66 66 66 66 67'
 '00 00 00 00 07 70 00 04 66 66 66 66 66 66 66 60'
 '00 00 00 00 00 00 00 00 66 66 66 66 66 68 EE E0'
 '00 00 00 00 00 00 00 00 4E EE EE EE EE EE EE E0'
 '00 77 F7 F0 FF 00 00 00 07 EE EE EE EE EE EE E7'
 '00 00 00 00 00 00 00 00 00 EE EE EE EE EE EE EE'
 'E0 FF FF F7 EE EE F7 44 00 7E EE EF FF EE EE FE'
 'E0 77 77 37 EE FE EE EE 70 0E EE EE FE EE EE EE'
 'E0 01 11 77 EE EE EE EE EE EE EE EE EE EE EE FE'
 'EE E9 99 EE EE EE EE EE EE EE EE EE EE EE EE EE'
 'EE E0 FF EE EE EE EE EE FF FF FF FF EF EE EE EE'
 'EE E0 77 EE FF FF FE FF FF FF FF FF FF FE EE EE'
 'EE EE 7E EE EF FF FE EE FF FE FF FF EF FE EE EE'
 'EE EF 7E EE EE EE FE FE FF FF FF FE FF FE EF FF'
 'FF F7 FE EE EE EF EE EF EF FF FF EF EF EE EF E7'
 'E7 7F EE EE EE EE EE EE FF FF FF EE FE EE EF FE'
 'FE FF EE EE EE EE EE EF FF FF FF EE EE EE EF FF'
 'FF EE EE EE EE EE EF FF FF FF EE EE EE EE EE FE'
 'EE EE EE EE EE EE FF EE FF FE EE EE EE EE EE EE'
 'EE EE EE EE EE EE EF FF FF FE EE EE EE EE EE EF'
 'EF FE EE EE EE EE EE EE FF FE EE EE EE EE EE FF'
 'FF FF FE EE EE EE EE EE EF EE EE EE EE EE EE EE'
 'EE EE EE EE EE EE EE EE EE EE EE EE EE EE 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00'
}
