DBC ICON "dbc.ico"
BMP_ABOUT BITMAP "dbc.bmp"
TOP BITMAP "../../samples/image/top.bmp"
BOTTOM BITMAP "../../samples/image/bottom.bmp"
NEXT BITMAP "../../samples/image/next.bmp"
PREV BITMAP "../../samples/image/previous.bmp"
OPEN BITMAP "../../samples/image/open.bmp"