1 24 "WindowsXP.Manifest"

HWG           ICON   resource/bmp/hwg.ico

BMP_OPEN      BITMAP resource/bmp/bmp_open.bmp
BMP_NEW       BITMAP resource/bmp/bmp_new.bmp
BMP_SAVE      BITMAP resource/bmp/bmp_save.bmp
BMP_STATIC    BITMAP resource/bmp/bmp_static.bmp
BMP_EDIT      BITMAP resource/bmp/bmp_edit.bmp
BMP_BUTTON    BITMAP resource/bmp/bmp_button.bmp
BMP_CHECK     BITMAP resource/bmp/bmp_check.bmp
BMP_RADIO     BITMAP resource/bmp/bmp_radio.bmp
BMP_GROUP     BITMAP resource/bmp/bmp_group.bmp
BMP_UPDOWN    BITMAP resource/bmp/bmp_updown.bmp
BMP_DATE      BITMAP resource/bmp/bmp_date.bmp
BMP_ARROW     BITMAP resource/bmp/bmp_arrow.bmp
BMP_COMBO     BITMAP resource/bmp/bmp_combo.bmp
BMP_HLINE     BITMAP resource/bmp/bmp_hline.bmp
BMP_VLINE     BITMAP resource/bmp/bmp_vline.bmp
BMP_PANEL     BITMAP resource/bmp/bmp_panel.bmp
BMP_BROWSE    BITMAP resource/bmp/bmp_browse.bmp
BMP_GRID      BITMAP resource/bmp/bmp_grid.bmp
BMP_RGROUP    BITMAP resource/bmp/bmp_rgroup.bmp
BMP_CALEN     BITMAP resource/bmp/bmp_calen.bmp
BMP_TRACK     BITMAP resource/bmp/bmp_track.bmp
BMP_BMP       BITMAP resource/bmp/bmp_bmp.bmp
BMP_ICON      BITMAP resource/bmp/bmp_icon.bmp
BMP_RICH      BITMAP resource/bmp/bmp_rich.bmp
BMP_PAGE      BITMAP resource/bmp/bmp_page.bmp
BMP_GRID2     BITMAP resource/bmp/bmp_grid2.bmp
BMP_TREE      BITMAP resource/bmp/bmp_tree.bmp
BMP_STATUS    BITMAP resource/bmp/bmp_status.bmp
BMP_MENU      BITMAP resource/bmp/bmp_menu.bmp
BMP_ANIM      BITMAP resource/bmp/bmp_anim.bmp
BMP_BOX       BITMAP resource/bmp/bmp_box.bmp
BMP_RHLINE    BITMAP resource/bmp/bmp_rhline.bmp
BMP_RVLINE    BITMAP resource/bmp/bmp_rvline.bmp
BMP_AREA      BITMAP resource/bmp/bmp_area.bmp
BMP_PROGBAR   BITMAP resource/bmp/bmp_progbar.bmp
BMP_TOOL      BITMAP resource/bmp/bmp_tool.bmp
BMP_LISTBOX   BITMAP resource/bmp/bmp_listbox.bmp
BMP_TIMER     BITMAP resource/bmp/bmp_timer.bmp
BMP_HLINK     BITMAP resource/bmp/bmp_hlink.bmp
BMP_COLUMN    BITMAP resource/bmp/bmp_column.bmp

smAdd         BITMAP resource/bmp/smadd.bmp
smAscend      BITMAP resource/bmp/smascend.bmp
smBack        BITMAP resource/bmp/smback.bmp
smBook        BITMAP resource/bmp/smbook.bmp
smBrowse      BITMAP resource/bmp/smbrowse.bmp
smBrowFilt    BITMAP resource/bmp/smbrowfilt.bmp
smBrowFind    BITMAP resource/bmp/smbrowfind.bmp
smCancel      BITMAP resource/bmp/smcancel.bmp
smCDRom       BITMAP resource/bmp/smcdrom.bmp
smClip        BITMAP resource/bmp/smclip.bmp
smClose       BITMAP resource/bmp/smclose.bmp
smConfig      BITMAP resource/bmp/smconfig.bmp
smCopy        BITMAP resource/bmp/smcopy.bmp
smCut         BITMAP resource/bmp/smcut.bmp
smDesc        BITMAP resource/bmp/smdesc.bmp
smDotGreen    BITMAP resource/bmp/smdotgreen.bmp
smDotRet      BITMAP resource/bmp/smdotret.bmp
smDotYellow   BITMAP resource/bmp/smdotyellow.bmp
smExit        BITMAP resource/bmp/smexit.bmp
smExit2       BITMAP resource/bmp/smexit2.bmp
smExit3       BITMAP resource/bmp/smexit3.bmp
smFind        BITMAP resource/bmp/smfind.bmp
smFirst       BITMAP resource/bmp/smfirst.bmp
smFloopy      BITMAP resource/bmp/smfloopy.bmp
smFont        BITMAP resource/bmp/smfont.bmp
smFontCenter  BITMAP resource/bmp/smfontcenter.bmp
smFontLeft    BITMAP resource/bmp/smfontleft.bmp
smFontRight   BITMAP resource/bmp/smfontright.bmp
smFontUnder   BITMAP resource/bmp/smfontunder.bmp
smFontBold    BITMAP resource/bmp/smfontbold.bmp
smFontItalic  BITMAP resource/bmp/smfontitalic.bmp
smFontColor   BITMAP resource/bmp/smfontcolor.bmp
smGrid        BITMAP resource/bmp/smgrid.bmp
smHD          BITMAP resource/bmp/smhd.bmp
smHelp        BITMAP resource/bmp/smhelp.bmp
smHelp2       BITMAP resource/bmp/smhelp2.bmp
smHyperlink   BITMAP resource/bmp/smhyperlink.bmp
smImage       BITMAP resource/bmp/smimage.bmp
smInfo        BITMAP resource/bmp/sminfo.bmp
smKey         BITMAP resource/bmp/smkey.bmp
smLast        BITMAP resource/bmp/smlast.bmp
smMSE         BITMAP resource/bmp/smmse.bmp
smNet         BITMAP resource/bmp/smnet.bmp
smNew         BITMAP resource/bmp/smnew.bmp
smNext        BITMAP resource/bmp/smnext.bmp
smOk          BITMAP resource/bmp/smok.bmp
smOpen        BITMAP resource/bmp/smopen.bmp
smPaste       BITMAP resource/bmp/smpaste.bmp
smPlayer      BITMAP resource/bmp/smplayer.bmp
smPrev        BITMAP resource/bmp/smprev.bmp
smPreview     BITMAP resource/bmp/smpreview.bmp
smPrinter     BITMAP resource/bmp/smprinter.bmp
smRedo        BITMAP resource/bmp/smredo.bmp
smRicheditbox BITMAP resource/bmp/smricheditbox.bmp
smSave        BITMAP resource/bmp/smsave.bmp
smSaveAll     BITMAP resource/bmp/smsaveall.bmp
smSound       BITMAP resource/bmp/smsound.bmp
smSum         BITMAP resource/bmp/smsum.bmp
smTrash       BITMAP resource/bmp/smtrash.bmp
smUndo        BITMAP resource/bmp/smundo.bmp
smWorld       BITMAP resource/bmp/smworld.bmp
OK            BITMAP resource/bmp/ok.bmp
CANCEL        BITMAP resource/bmp/cancel.bmp
smMoney       BITMAP resource/bmp/smmoney.bmp
smNotepad     BITMAP resource/bmp/smnotepad.bmp
smTimer       BITMAP resource/bmp/smtimer.bmp
smProprie     BITMAP resource/bmp/smproprie.bmp
smAlignLeft   BITMAP resource/bmp/smalignleft.bmp
smAlignRight  BITMAP resource/bmp/smalignright.bmp
smAlignTop    BITMAP resource/bmp/smaligntop.bmp
smSameWidth   BITMAP resource/bmp/smsamewidth.bmp
smSameHeight  BITMAP resource/bmp/smsameheight.bmp
smCenterHorz  BITMAP resource/bmp/smcenterhorz.bmp
smCenterVert  BITMAP resource/bmp/smcentervert.bmp
