 smAdd        BITMAP ..\resource\bmp\smAdd.bmp
 smAscend     BITMAP ..\resource\bmp\smAscend.bmp
 smBack       BITMAP ..\resource\bmp\smBack.bmp
 smBook       BITMAP ..\resource\bmp\smBook.bmp
 smBrowse     BITMAP ..\resource\bmp\smBrowse.bmp
 smBrowFilt   BITMAP ..\resource\bmp\smBrowFilt.bmp
 smBrowFind   BITMAP ..\resource\bmp\smBrowFind.bmp
 smCancel     BITMAP ..\resource\bmp\smCancel.bmp
 smCDRom      BITMAP ..\resource\bmp\smCDRom.bmp
 smClip       BITMAP ..\resource\bmp\smClip.BMP
 smClose      BITMAP ..\resource\bmp\smClose.bmp
 smConfig     BITMAP ..\resource\bmp\smConfig.BMP
 smCopy       BITMAP ..\resource\bmp\smCopy.bmp
 smCut        BITMAP ..\resource\bmp\smCut.bmp
 smDesc       BITMAP ..\resource\bmp\smDesc.bmp
 smDotGreen   BITMAP ..\resource\bmp\smDotGreen.BMP
 smDotRet     BITMAP ..\resource\bmp\smDotRet.BMP
 smDotYellow  BITMAP ..\resource\bmp\smDotYellow.BMP
 smExit       BITMAP ..\resource\bmp\smExit.bmp
 smExit2      BITMAP ..\resource\bmp\smExit2.bmp
 smExit3      BITMAP ..\resource\bmp\smExit3.bmp
 smFind       BITMAP ..\resource\bmp\smFind.bmp
 smFirst      BITMAP ..\resource\bmp\smFirst.bmp
 smFloopy     BITMAP ..\resource\bmp\smFloopy.bmp
 smFont       BITMAP ..\resource\bmp\smFont.bmp
 smFontCenter BITMAP ..\resource\bmp\smFontCenter.bmp
 smFontLeft   BITMAP ..\resource\bmp\smFontLeft.bmp
 smFontRight  BITMAP ..\resource\bmp\smFontRight.bmp
 smFontUnder  BITMAP ..\resource\bmp\smFontUnder.bmp
 smFontBold   BITMAP ..\resource\bmp\smFontBold.bmp
 smFontItalic BITMAP ..\resource\bmp\smFontItalic.bmp
 smFontColor  BITMAP ..\resource\bmp\smFontColor.bmp
 smGrid       BITMAP ..\resource\bmp\smGrid.bmp
 smHD         BITMAP ..\resource\bmp\smHD.bmp
 smHelp       BITMAP ..\resource\bmp\smHelp.bmp
 smHelp2      BITMAP ..\resource\bmp\smHelp2.bmp
 smHyperlink  BITMAP ..\resource\bmp\smHyperlink.bmp
 smImage      BITMAP ..\resource\bmp\smImage.bmp
 smInfo       BITMAP ..\resource\bmp\smInfo.bmp
 smKey        BITMAP ..\resource\bmp\smKey.bmp
 smLast       BITMAP ..\resource\bmp\smLast.bmp
 smMSE        BITMAP ..\resource\bmp\smMSE.bmp
 smNet        BITMAP ..\resource\bmp\smNet.bmp
 smNew        BITMAP ..\resource\bmp\smNew.bmp
 smNext       BITMAP ..\resource\bmp\smNext.bmp
 smOk         BITMAP ..\resource\bmp\smOk.bmp
 smOpen       BITMAP ..\resource\bmp\smOpen.bmp
 smPaste      BITMAP ..\resource\bmp\smPaste.bmp
 smPlayer     BITMAP ..\resource\bmp\smPlayer.bmp
 smPrev       BITMAP ..\resource\bmp\smPrev.bmp
 smPreview    BITMAP ..\resource\bmp\smPreview.bmp
 smPrinter    BITMAP ..\resource\bmp\smPrinter.bmp
 smRedo       BITMAP ..\resource\bmp\smRedo.bmp
 smRicheditbox BITMAP ..\resource\bmp\smRicheditbox.bmp
 smSave       BITMAP ..\resource\bmp\smSave.bmp
 smSaveAll    BITMAP ..\resource\bmp\smSaveAll.bmp
 smSound      BITMAP ..\resource\bmp\smSound.bmp
 smSum        BITMAP ..\resource\bmp\smSum.bmp
 smTrash      BITMAP ..\resource\bmp\smTrash.bmp
 smUndo       BITMAP ..\resource\bmp\smUndo.bmp
 smWorld      BITMAP ..\resource\bmp\smWorld.bmp
